{% set inspirations = [
  {
    title: "Ждем экспатов со всей Европы",
    text: "Место, где собираются основатели, инвесторы и инженеры, которые строят глобальные компании и карьеры после переезда",
    image: "inspiration_01"
  }, {
    title: "Город где легко знакомиться",
    text: "Конференция, где между докладами можно прогуляться к морю, а вечер продолжается на террасах Барселоны",
    image: "inspiration_02"
  }, {
    title: "Незабываемый уикенд",
    text: "Несколько дней программы включают: день знакомств и вечер бизнес питчей, день конференции, день экскурсий и конечно взрывную афтепати ",
    image: "inspiration_03"
  }
] %}

<section class="section" id="inspiration">
  <div class="container">
    <div class="section__caption">
      <h2 class="title title_sm">Мотивирующие доклады, меняющие жизнь встречи и эпичные вечеринки</h2>
    </div>
    <div class="embla embla_inspirations">
      <div class="embla__container">
        {% for item in inspirations %}
          <div class="embla__slide">
            <div class="inspiration">
              <div class="inspiration__top">
                <h3 class="inspiration__title">{{item.title}}</h3>
                <img src="assets/img/{{item.image}}@2x.webp" alt="" class="inspiration__img"/>
              </div>
              <div class="inspiration__content">
                <p class="inspiration__text">{{item.text}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>