{% set inspirations = [
  {
    title: "8 октября",
    text: "Препати и pitch evening. Ждем экспатов со всей Европы. Relocation Summit - точка сборки для русскоязычных специалистов, фаундеров и инвесторов",
    image: "inspiration_01"
  }, {
    title: "9 октября",
    text: "День конференции. Между докладами можно прогуляться к морю, а вечер продолжается на самой большой вечеринке для русскоговорящих айтишников в мире или уютных террасах готического квартала",
    image: "inspiration_02"
  }, {
    title: "10 октября",
    text: "День акивностей. Экскурсии и прогулки по Барселоне с новыми друзьями",
    image: "inspiration_03"
  }
] %}

<section class="section" id="inspiration">
  <div class="container">
    <div class="section__caption">
      <h2 class="title title_sm">Мотивирующие доклады, меняющие жизнь встречи и эпичные вечеринки</h2>
    </div>
    <div class="embla embla_inspirations">
      <div class="embla__container">
        {% for item in inspirations %}
          <div class="embla__slide">
            <div class="inspiration">
              <div class="inspiration__top">
                <h3 class="inspiration__title">{{item.title}}</h3>
                <img src="assets/img/{{item.image}}@2x.webp" alt="" class="inspiration__img"/>
              </div>
              <div class="inspiration__content">
                <p class="inspiration__text">{{item.text}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>