{% set locationImages = [
  {
    desktop: "location1",
    mobile: "location1",
    alt: "Центр современного искусства Барселоны"
  },
  {
    desktop: "location2",
    mobile: "location2",
    alt: "Центр современного искусства Барселоны - Интерьер"
  }
] %}

<section class="section section_location" id="location">
  <div class="location">
    <div class="location__carousel embla embla_location">
      <div class="embla__container">
        {% for image in locationImages %}
          <div class="embla__slide">
            <picture>
              <source media="(max-width: 430px)" srcset="assets/img/{{ image.mobile }}.webp">
              <img class="location__image" src="assets/img/{{ image.desktop }}.webp" alt="{{ image.alt }}" loading="lazy">
            </picture>
          </div>
        {% endfor %}
      </div>
      <button class="embla__button embla__button_prev" type="button">
        {{ svgIcon("arrow.svg") | safe }}
        <span class="embla__sr-only">Назад</span>
      </button>
      <button class="embla__button embla__button_next" type="button">
        {{ svgIcon("arrow.svg") | safe }}
        <span class="embla__sr-only">Вперёд</span>
      </button>
    </div>
    <div class="location__inner container">
      <div class="location__logo">
        {{ svgIcon("fira-barcelona.svg") | safe }}
      </div>
      <div class="location__info">
        <address class="location__address">Carrer de Montalegre, 5, Barcelona</address>
        <div class="location__button">
          <a href="https://maps.app.goo.gl/VKBmtTySXr2mj9bRA" target="_blank" class="btn">Показать на карте</a>
        </div>
      </div>
    </div>
  </div>
</section>