<section class="section" id="schedule">
  <div class="container">
    <a class="btn schedule__button"
       href="https://docs.google.com/spreadsheets/d/110ZjEzy6_WM_KP3Q3csY4iXah0acXy2X7ejQrDOFCHc/edit?usp=sharing"
       target="_blank" rel="noopener noreferrer">Расписание саммита</a>
  </div>
</section>
