{% set speakers = [{
                       id: "speaker-aleks-solovyov",
                       name: "Александр Соловьев",
                       company: "Refocus, Испания",
                       topic: "Постоянный герой страниц Forbes, 15 млн $ выручки в первый год работы стартапа",
                       image: "speaker2",
                       social: [
                         { name: "тг", label: "Телеграм", url: "https://t.me/solokumi" }
                       ]
                     },
{
    id: "speaker-anna-znamenskaya",
    name: "Анна Знаменская",
    company: "Карьерный консультант, Испания",
    topic: "Топ менеджер с 20 летним стажем, работала в Apple, Viber, Tinkoff, Beeline, Ivi. Доклад: Из СНГ в FAANG - как построить IT карьеру в Европе? ",
    image: "speaker1",
    social: [
      { name: "инст", label: "Инстаграм", url: "https://www.instagram.com/annaznamenskaya/" }
    ]
  }
] %}

<section class="section section_speakers" id="speakers">
  <div class="container">
    <div class="section__caption">
      <h2 class="title">Наши эксперты</h2>
    </div>
    <div class="speakers-grid">
    <div class="suggest">
            <div class="suggest__content">
              <h4 class="suggest__title">
                Есть о чем рассказать?</h4>
              <div class="suggest__text">
                Принимаем заявки на доклады до 15 июля 2026
              </div>
            </div>
            <div class="suggest__btn">
              <a target="_blank" href="https://docs.google.com/forms/d/1WxlttLgJCwTJfML0muj2-nxAobVD_j08Vk5BAnLQ9js/preview" class="btn">Предложить тему</a>
            </div>
          </div>
      {% for speaker in speakers %}
        <div class="speaker" id="{{speaker.id}}">
          <div class="speaker__top">
            <img src="assets/img/{{speaker.image}}.webp" alt="{{speaker.name}}" class="speaker__photo">
            <div class="speaker__social">
              {% for social in speaker.social %}
                <a href="{{social.url}}" class="speaker__social-btn" target="_blank" aria-label="Перейти на аккаунт {{speaker.name}} в {{social.label}}">
                  {{social.name}}
                </a>
              {% endfor %}
            </div>
          </div>
          <div class="speaker__content">
            <h3 class="speaker__name">{{speaker.name}}</h3>
            <div class="speaker__company">{{speaker.company}}</div>
            <div class="speaker__topic">{{speaker.topic}}</div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</section>