<!--   {
         id: "speaker-oxana-raim",
         name: "Оксана Раим",
         company: "Raison Fintech, Испания",
         topic: "Ex-Anthropic advisor, Space X, Neurolink. BizDev-стратег из мира финтеха и AI. Из Казахстана — в топ мирового бизнеса",
         image: "speaker5",
         social: [
           { name: "ln", label: "LinkedIn", url: "https://www.linkedin.com/in/oxana-raim-a7a73a52/" }
         ]
       },
       {
        id: "speaker-anna-znamenskaya",
        name: "Анна Знаменская",
        company: "Карьерный консультант, Испания",
        topic: "Топ менеджер с 20 летним стажем, работала в Apple, Viber, Tinkoff, Beeline, Ivi. Доклад: Из СНГ в FAANG - как построить IT карьеру в Европе?",
        image: "speaker1",
        social: [
        { name: "инст", label: "Инстаграм", url: "https://www.instagram.com/annaznamenskaya/" }
    ]
    },
    ,
        {
            id: "speaker-tba",
            name: "To be announced",
            company: "",
            topic: "",
            image: "placeholder8",
            social: [
        ]
        }
        ,
        {
            id: "speaker-tba",
            name: "To be announced",
            company: "",
            topic: "",
            image: "placeholder1",
            social: [
        ]
        }
        ,
        {
            id: "speaker-tba",
            name: "To be announced",
            company: "",
            topic: "",
            image: "placeholder4",
            social: [
        ]
        }
        ,
        {
            id: "speaker-tba",
            name: "To be announced",
            company: "",
            topic: "",
            image: "placeholder6",
            social: [
        ]
        }
        ,
        {
            id: "speaker-tba",
            name: "To be announced",
            company: "",
            topic: "",
            image: "placeholder5",
            social: [
        ]
        }
--!>

{% set speakers = [

    {
        id: "speaker-aleks-lar",
        name: "Александр Ларьяновский",
        company: "Realytics, Кипр",
        topic: "В прошлом управляющий партнер Skyeng, эксперт проекта Forbes for Business. Тема доклада: От стартапа к международной компании: как мы масштабировали Skyeng",
        image: "speaker6",
        social: [
        { name: " ln", label: "LinkedIn", url: "https://www.linkedin.com/in/laryanovskiy/" }
    ]
    },
    {
        id: "speaker-lex",
        name: "Лекс Картынник aka IT Beard",
        company: "Evocoders, Польша",
        topic: "Инженер, популярный IT автор, основатель клуба EvoCoders. Тема доклада: Как ИИ меняет индустрию разработки и как адаптироваться?",
        image: "speaker4",
        social: [
        { name: "ютуб", label: "Ютуб", url: "https://www.youtube.com/itbeard" }
    ]
    },
    {
        id: "speaker-denis-kalishkin",
        name: "Денис Калышкин",
        company: "I2BF Global Venture, Испания",
        topic: "Инвестиционный директор американского венчурного фонда I2BF Global Venture. Тема доклада: Как венчурные фонды решают, в какой стартап инвестировать и почему вам не дадут денег =)",
        image: "speaker7",
        social: [
        { name: "ln", label: "LinkedIn", url: "https://www.linkedin.com/in/denis-kalyshkin/" }
    ]
    },
    {
        id: "speaker-zborovsky",
        name: "Дмитрий Зборовский",
        company: "Deliveroo, Великобритания",
        topic: "Head of ML в Deliveroo / Dash. Forbes 30 under 30. Тема доклада: The state of AI и перспективы технологии",
        image: "zborovsky",
        social: [
        { name: "ln", label: "LinkedIn", url: "https://www.linkedin.com/in/dmitriy-zborovskiy/" }
    ]
    },
    {
        id: "speaker-kot",
        name: "Евгений Кот",
        company: "JetBrains, Португалия",
        topic: "Some important person @ JetBrains. Тема доклада: TBA",
        image: "kot",
        social: [
        { name: "x", label: "X", url: "https://x.com/bunopus" }
    ]
    },
    {
        id: "speaker-zoya",
        name: "Зоя Скобельцына",
        company: "Карьерный консультант, Германия",
        topic: "Предприниматель, спикер TEDx. Доклад: Из СНГ в FAANG: как искать работу системно, а не надеяться на удачу?",
        image: "zoya",
        social: [
        { name: "ln", label: "LinkedIn", url: "https://www.linkedin.com/in/zoya-skobeltsyna/" }
    ]
    },
    {
        id: "speaker-sitnik",
        name: "Андрей Ситник",
        company: "Evil Martians, Испания",
        topic: "Principal инженер, известный Open Source автор. Автор PostCSS. Блоггер. Тема доклада: Как продвигать open-source проекты: почему просто хорошего кода не достаточно",
        image: "sitnik",
        social: [
        { name: "x", label: "X", url: "https://x.com/andrey_sitnik" }
    ]
    },
    {
        id: "speaker-smirnov",
        name: "Вячеслав Смирнов",
        company: "Around PR, Испания",
        topic: "Пиарщик с 20-летним опытом. Тема доклада: Как стать человеком или бизнесом, которых рекомендует ChatGPT?",
        image: "vyacheslav_smirnov",
        social: [
        { name: "ln", label: "LinkedIn", url: "https://www.linkedin.com/in/viachaslau-smirnou-b173068a/" }
    ]
    }
    ,
    {
            id: "speaker-lepeshkin",
            name: "Аlex Lepeshkin",
            company: "Zalando, Германия",
            topic: "Principal Program manager в Zalando (Berlin). LinkedIn & Career Coach, Mentor. Тема доклада: 300 откликов и 0 ответов? Как сделать, чтобы рекрутеры находили тебя сами",
            image: "alex-lepeshkin",
            social: [
            { name: "tg", label: "Telegram", url: "https://t.me/CareerPump/" }
        ]
        }
        ,
    {
        id: "speaker-aleks-solovyov",
        name: "Александр Соловьев",
        company: "Refocus, Испания",
        topic: "Постоянный герой страниц Forbes. Тема доклада: Топ ИИ-агентов для маркетинга и продаж: как мы выросли с 0 до 3 млн$ выручки за год",
        image: "speaker2",
        social: [
        { name: "тг", label: "Телеграм", url: "https://t.me/solokumi" }
    ]
    }
    ,
        {
                id: "speaker-uladzislau",
                name: "Владислав Ярошук",
                company: "Security Auditor, Consensys Diligence, Испания",
                topic: "Тема доклада: AI в руках хакеров: как меняются кибератаки и к чему готовиться",
                image: "Uladzislau__Yarashuk",
                social: [
                { name: "ln", label: "LinkedIn", url: "https://pt.linkedin.com/in/uladzislau-yarashuk-103b15256/" }
            ]
            }
    ,
    {
                id: "speaker-gurov",
                name: "Pavel Gurov",
                company: "Gurov Digital, Германия",
                topic: "Cпециалист по ИИ и диджитал-маркетингу, автор популярного канала про инновации. Тема доклада: ИИ автоматизации которые работают",
                image: "pavel-gurov",
                social: [
                { name: "tg", label: "Telegram", url: "https://t.me/gurovdigital/" }
            ]
            }
            ,
    {
        id: "speaker-alex-belov",
        name: "Алекс Белов",
        company: "Coinstelegram, UAE",
        topic: "Forbes 30 under 30, журналист @coinstelegram, Web3 инвестор. Доклад: Регуляция в Европе / Перспективы крипто рынка / DeFi протоколы, хайп prediction markets",
        image: "speaker3",
        social: [
        { name: "инст", label: "Инстаграм", url: "https://www.instagram.com/alex_belov13/" }
    ]
    }
        ,
{
        id: "speaker-asya",
        name: "Ася Исакова",
        company: "Карьерный консультант, Испания",
        topic: "Преподаватель на MBA-программе в Барселоне. Тема доклада: Какие навыки прокачивать руководителям, чтобы успешно строить карьеру в Европе",
        image: "Asya_Isakova",
        social: [
        { name: "ln", label: "LinkedIn", url: "https://www.linkedin.com/in/asyaisakova/" }
    ]
    }
    ,
{
        id: "speaker-anna",
        name: "Анна Вахова",
        company: "Руководитель B2B направления в EODHD, Испания",
        topic: "Выстроила B2B направление с нуля. 6 лет опыта в продажах. Тема доклада: Честные уроки финтеха из 7 экспериментов с ИИ",
        image: "Anna_Vakhova",
        social: [
        { name: "ln", label: "LinkedIn", url: "https://www.linkedin.com/in/annavakhova/" }
    ]
    }
    ,
{
        id: "speaker-andrey",
        name: "Андрей Румянцев",
        company: "Международный предприниматель, совладелец холдинга ABC Group, Испания",
        topic: "Эксперт с 20-летним практическим бизнес-опытом. Тема доклада: Как распознавать плохих партнеров и слабых сотрудников",
        image: "Andrey_Rumyantsev",
        social: [
        { name: "ln", label: "LinkedIn", url: "https://www.linkedin.com/in/andreyrumyantsev/" }
    ]
    }
    ,
{
        id: "speaker-nikita",
        name: "Никита Драчев",
        company: "Chief AI & Data Officer, Испания",
        topic: "Тема доклада: Почему большинство компаний не готовы к AI: проблемы данных, о которых никто не говорит",
        image: "Nikita_Drachev",
        social: [
        { name: "ln", label: "LinkedIn", url: "https://www.linkedin.com/in/dv-nikita/" }
    ]
    }
    ,
    {
        id: "speaker-tba",
        name: "To be announced",
        company: "",
        topic: "",
        image: "placeholder5",
        social: [
    ]
    }
    ,
    {
        id: "speaker-tba",
        name: "To be announced",
        company: "",
        topic: "",
        image: "placeholder2",
        social: [
    ]
    }
    ,
    {
        id: "speaker-tba",
        name: "To be announced",
        company: "",
        topic: "",
        image: "placeholder4",
        social: [
    ]
    }
    ,
    {
        id: "speaker-tba",
        name: "To be announced",
        company: "",
        topic: "",
        image: "placeholder7",
        social: [
    ]
    }
    ,
    {
        id: "speaker-tba",
        name: "To be announced",
        company: "",
        topic: "",
        image: "placeholder3",
        social: [
    ]
    }
] %}

<section class="section section_speakers" id="speakers">
    <div class="container">
        <div class="section__caption">
            <h2 class="title">Первые подтверждённые спикеры
        </div>
        <div class="speakers-grid">
            <div class="suggest">
                <div class="suggest__content">
                    <h4 class="suggest__title">Есть о чем рассказать?</h4>
                    <div class="suggest__text">
                        Принимаем заявки на доклады до 15 июля
                    </div>
                </div>
                <div class="suggest__btn">
                    <a target="_blank"
                       href="https://docs.google.com/forms/d/1WxlttLgJCwTJfML0muj2-nxAobVD_j08Vk5BAnLQ9js/preview"
                       class="btn">Предложить тему</a>
                </div>
            </div>
            {% for speaker in speakers %}
                <div class="speaker" id="{{ speaker.id }}">
                    <div class="speaker__top">
                        <img src="assets/img/{{ speaker.image }}.webp" alt="{{ speaker.name }}" class="speaker__photo">
                        <div class="speaker__social">
                            {% for social in speaker.social %}
                                <a href="{{ social.url }}" class="speaker__social-btn" target="_blank"
                                   aria-label="Перейти на аккаунт {{ speaker.name }} в {{ social.label }}">
                                    {{ social.name }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="speaker__content">
                        <h3 class="speaker__name">{{ speaker.name }}</h3>
                        <div class="speaker__company">{{ speaker.company }}</div>
                        <div class="speaker__topic">{{ speaker.topic }}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="suggest">
                <div class="suggest__content">
                    <h4 class="suggest__title">Есть о чем рассказать?</h4>
                    <div class="suggest__text">
                        Принимаем заявки на доклады до 15 июля
                    </div>
                </div>
                <div class="suggest__btn">
                    <a target="_blank"
                       href="https://docs.google.com/forms/d/1WxlttLgJCwTJfML0muj2-nxAobVD_j08Vk5BAnLQ9js/preview"
                       class="btn">Предложить тему</a>
                </div>
            </div>
        </div>
    </div>
</section>
