{% set social = [
  {
    'name': 'инстаграм',
    'label': 'Перейти на наш аккаунт в Инстаграм',
    'link': 'https://www.instagram.com/relocation_summit/'
  }
] %}

<section class="section section_subscription" id="subscription">
  <div class="container">
    <div class="container__small-padding-mobile">
      <div class="section__caption">
        <h2 class="title title_sm">Будь в курсе новостей и распродаж билетов</h2>
      </div>
      <div class="subscription subscription__form">
          {#<input class="subscription__input" type="email" name="email" placeholder="Ваш email" required="required">#}
          <button class=" ml-onclick-form" onclick="ml('show', 'y0z0WG', true)">Подписаться</button>
      </div>
    </div>
    <div class="social-wrapper">
      <ul class="social social_main">
        {% for item in social %}
          {% include "social-item.njk" %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>