<section class="section section_subscription" id="subscription">
  <div class="container">
    <div class="container__small-padding-mobile">
      <div class="section__caption">
        <h2 class="title title_sm">Будь в курсе новостей и распродаж билетов</h2>
      </div>
      <div class="subscription">
        <form class="subscription__form" action="https://f2c74592.sibforms.com/serve/MUIFAP4Iz1UG-croSqZo55f3IuxV-e8RXB1Wiq0haDkFJ2glWOQzYj6kokXdz48vyJxPrigJ1vwU0UmTaMZNOa-epH8viAo1oxsBta50IGjLNRBXcRGVy1OjXVDPDhMYkaUtrr7XRwdc0fFyBYjElF0NSFR86WyC66TDvNDgE5jHSKZKwmEoG1OwZehgA4BOVYBS0TvXUiVnhr0I">
          <input class="subscription__input" type="email" name="email" placeholder="Ваш email" required="required">
          <button type="submit" class="subscription__btn">Подписаться</button>
        </form>
      </div>
    </div>
    <div class="social-wrapper">
      <ul class="social social_main">
        {% set social = [
           {
            'name': 'инстаграм',
            'label': 'Перейти на наш аккаунт в Инстаграм',
            'link': 'https://www.instagram.com/relocation_summit'
          }
        ] %}
        {% for item in social %}
          {% include "social-item.njk" %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>