<section class="section this-year-attendees" aria-labelledby="this-year-attendees-title">
  <div class="container">
    <h2 class="this-year-attendees__title" id="this-year-attendees-title">
      в этом году участники из:
    </h2>
    <img
      class="this-year-attendees__countries"
      src="assets/img/this-year-attendees.png"
      width="1155"
      height="192"
      alt="Города и страны, из которых приедут посетители саммита"
      loading="lazy"
    >
  </div>
</section>
