<section class="section section_tickets" id="tickets">
  <div class="container">
    <div class="section__caption">
      <h2 class="title">Билеты</h2>
    </div>
    <div class="tickets-grid">
      {% set tickets = [
        {
          title: "Regular",
          price: "€250",
          icon: 'diamond',
          buttonPlaceholder: 'С 1 января'

        }, {
          title: "Early bird",
          price: "€180",
          icon: 'fire',
          buttonLink: 'https://www.eventbrite.com/e/entradas-relocation-summit-2026-1638440241869?aff=oddtdtcreator'
        }, {
          title: "Бизнес",
          price: "€800",
          icon: 'crown',
          description: [
            "+ Нетворкинг ужин", "+ Регистрация без очереди", "+ Выступление в питч вечере"
          ],
          buttonLink: 'https://www.eventbrite.com/e/entradas-relocation-summit-2026-1638440241869?aff=oddtdtcreator'
        }
      ] %}
      {% for ticket in tickets %}
        {% include "ticket-item.njk" %}
      {% endfor %}
    </div>
  </div>
</section>