{% set topics = [
  {
    id: "speaker-anna-znam",
    title: "Из СНГ в FAANG: Строим глобальную карьеру",
    name: "Анна Знаменская",
    image: "speaker1"
  }, {
    id: "speaker-denis-kalishkin",
    title: "Каким стартапам венчуры дают деньги и почему не дадут вам?",
    name: "Денис Калышкин",
    image: "speaker7"
  }, {
    id: "speaker-lex",
    title: "Как ИИ меняет индустрию разработки и как адаптироваться?",
    name: "Лекс Картынник aka IT Beard",
    image: "speaker4"
  }
] %}

{% set topicsReversed = [
  {
      id: "speaker-alex-lar",
      title: "Масштабируем стартап в глобальную компанию",
      name: "Александр Ларьяновский",
      image: "speaker6"
    }, {
      id: "speaker-aleч-иудщм",
      title: "Тренды и регуляции крипто рынков",
      name: "Алекс Белов",
      image: "speaker3"
    },
    {
        id: "speaker-anna-znam",
        title: "Из СНГ в FAANG: Строим глобальную карьеру",
        name: "Анна Знаменская",
        image: "speaker1"
      }
] %}

<section class="section section_topics" id="topics">
  <picture class="section__bg">
    <source media="(max-width: 767px)" srcset="assets/img/bg-topics_mob.webp">
    <img class="section__bg-img" src="assets/img/bg-topics.webp" alt="">
  </picture>
  <div class="section__container">
    <div class="container">
      <div class="section__caption">
        <h2 class="title">О чем будем говорить?</h2>
      </div>
    </div>
    <div class="topics-container">
      <div class="embla embla_topics embla_topics_default">
        <div class="embla__container">
          {% for item in topics %}
            <div class="embla__slide">
              {% include "topic-item.njk" %}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="embla embla_topics embla_topics_reversed">
        <div class="embla__container">
          {% for item in topicsReversed %}
            <div class="embla__slide">
              {% include "topic-item.njk" %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>