<!DOCTYPE html>
<html lang="ru">

  <head>
    <!-- Basic Meta Tags -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
      Re:Location IT Summit — Саммит русскоязычных предпринимателей и IT специалистов в Европе
    </title>

    <meta name="language" content="Russian"/>

    <!-- Critical CSS Inline -->
    <style>
      {{criticalCSS | safe}}
    </style>

    <!-- Non-critical CSS (async load) -->
    <link rel="preload" href="/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
    <noscript>
      <link rel="stylesheet" href="/css/style.css"/>
    </noscript>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Re:Location IT Summit — саммит для русскоязычных предпринимателей и IT-специалистов. Нетворкинг, бизнес-идеи, жизнь в эмиграции, лекции и вечеринки. Барселона, 22-25 апреля 2026.">
    <meta name="keywords" content="IT саммит, IT конференция Европа, конференция айти Барселона, relocation IT, конференция для айтишников за границей, IT предприниматели эмиграция, русскоязычные стартапы Европа, бизнес иммиграция IT, networking IT Европа, конференция для программистов 2026, стартап конференция Барселона, конференция по релокации айти, Re:Location IT Summit">
    <link rel="canonical" href="https://relocationsummit.com">
    <meta name="robots" content="index, follow">

    <!-- Preloading -->
    <link rel="preload" href="/assets/fonts/Montserrat-Medium.woff2" as="font" type="font/woff2" crossorigin="crossorigin"/>
    <link rel="preload" href="/assets/fonts/Montserrat-SemiBold.woff2" as="font" type="font/woff2" crossorigin="crossorigin"/>
    <link rel="preload" href="/assets/fonts/Montserrat-Bold.woff2" as="font" type="font/woff2" crossorigin="crossorigin"/>
    <link rel="preload" href="/assets/fonts/Montserrat-ExtraBold.woff2" as="font" type="font/woff2" crossorigin="crossorigin"/>
    <link rel="preload" href="/assets/video/hero-video-poster.webp" as="image">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg"/>
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png"/>
    <link rel="manifest" href="/assets/favicon/site.webmanifest"/>

    <!-- Open Graph Meta Tags -->
    <meta property="og:site_name" content="Re:Location IT Summit"/>
    <meta property="og:url" content="https://relocationsummit.com"/>
    <meta property="og:title" content="Re:Location IT Summit — Крупнейший саммит русскоязычных предпринимателей и IT специалистов в Европе"/>
    <meta property="og:description" content="Создаём возможности, нетворк и лучшую жизнь в эмиграции. Лекции, бизнес-идеи, отдых и вечеринка в Барселоне, 22-25 апреля 2026."/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://relocationsummit.com/assets/img/ogimage.png"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:alt" content="{% block og_image_alt %}{% endblock %}"/>

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Re:Location IT Summit — Саммит русскоязычных предпринимателей и IT специалистов в Европе">
    <meta name="twitter:description" content="Нетворкинг, бизнес, жизнь в эмиграции — все это в Барселоне, 22-25 апреля 2026. Вдохновляющие доклады, вечеринки и новые знакомства.">
    <meta name="twitter:image" content="https://relocationsummit.com/assets/img/ogimage.png">

    <!-- Additional Head Content -->
    {% block head %}{% endblock %}
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XWBCBT5PEP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XWBCBT5PEP');
  </script>

  <body>
    <div class="wrapper">
      {% include "header.njk" %}
      <main class="main">
        {% block content %}{% endblock %}
      </main>
      {% include "footer.njk" %}
    </div>

    <!-- Scripts -->
    <script src="js/bundle.js" defer="defer"></script>
    {% block scripts %}{% endblock %}
  </body>

</html>